$enable-flex: false;
$enable-rounded: true;
$enable-gradients: false;

$brand-primary: #3a0324 !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$headings-font-family: "LobsterItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
